APP_NODE_1_IP=192.168.0.2
APP_NODE_2_IP=192.168.0.5
APP_NODE_3_IP=192.168.0.6
APP_GATEWAY_NODE_1_IP=192.168.0.5
APP_GATEWAY_NODE_1_PORT=18080
APP_GATEWAY_NODE_2_IP=192.168.0.6
APP_GATEWAY_NODE_2_PORT=18080
APP_VIP_IP=192.168.0.100
KEEPALIVED_INTERFACE=eth0
KEEPALIVED_ROUTER_ID=51
KEEPALIVED_PC2_PRIORITY=120
KEEPALIVED_PC3_PRIORITY=110
KEEPALIVED_AUTH_PASS=fastorderha
DB_PROXY_PRIMARY_HOST=192.168.0.5
DB_PROXY_PRIMARY_PORT=5432
DB_PROXY_SECONDARY_HOST=192.168.0.7
DB_PROXY_SECONDARY_PORT=5432
RABBITMQ_HOST=192.168.0.5
RABBITMQ_PORT=5672
RABBITMQ_ADDRESSES=192.168.0.5:5672,192.168.0.6:5672,192.168.0.7:5672
RABBITMQ_WAIT_HOST=192.168.0.5
RABBITMQ_WAIT_PORT=5672
