RABBITMQ_NODE_1_NAME=rabbit-pc2
RABBITMQ_NODE_1_IP=192.168.0.5
RABBITMQ_NODE_2_NAME=rabbit-pc3
RABBITMQ_NODE_2_IP=192.168.0.6
RABBITMQ_NODE_3_NAME=rabbit-pc4
RABBITMQ_NODE_3_IP=192.168.0.7
RABBITMQ_ERLANG_COOKIE=fastorder-rabbit-cluster-cookie
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_ADDRESSES=192.168.0.5:5672,192.168.0.6:5672,192.168.0.7:5672
RABBITMQ_WAIT_HOST=192.168.0.5
RABBITMQ_WAIT_PORT=5672
