PC1_IP=192.168.0.2
PC2_IP=192.168.0.5
PC3_IP=192.168.0.6
PC4_IP=192.168.0.7
DB_PROXY_VIP=192.168.0.100
DB_KEEPALIVED_INTERFACE=eth0
DB_KEEPALIVED_ROUTER_ID=61
DB_KEEPALIVED_PC2_PRIORITY=120
DB_KEEPALIVED_PC4_PRIORITY=110
DB_KEEPALIVED_AUTH_PASS=fastorderdb
APP_HOST=192.168.0.2
RABBITMQ_HOST=192.168.0.2
API_GATEWAY_HOST=192.168.0.2
MENU_SERVICE_HOST=192.168.0.2
ORDER_SERVICE_HOST=192.168.0.2
INVENTORY_SERVICE_HOST=192.168.0.2
KITCHEN_SERVICE_HOST=192.168.0.2
DELIVERY_SERVICE_HOST=192.168.0.2
NOTIFICATION_SERVICE_HOST=192.168.0.2
BACKUP_INTERVAL_SECONDS=600
BACKUP_RETENTION_COUNT=5
