FASTORDER_NODE_IP=192.168.1.103
FASTORDER_PATRONI_NAME=fastorder-db-2
FASTORDER_ETCD_NAME=etcd-node3
FASTORDER_ETCD_CLUSTER=etcd-node1=http://192.168.1.101:2380,etcd-node2=http://192.168.1.102:2380,etcd-node3=http://192.168.1.103:2380
FASTORDER_ETCD_HOSTS=192.168.1.101:2379,192.168.1.102:2379,192.168.1.103:2379
FASTORDER_POSTGRES_PASSWORD=fastorder123
FASTORDER_REPLICATION_PASSWORD=replicator123
FASTORDER_APP_DB=fastorder_db
FASTORDER_APP_USER=fastorder_user
FASTORDER_APP_PASSWORD=fastorder123
